{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}{% trans 'Confirm Delete' %}{% endblock head_title %}
{% block content %}
    <div class="col-sm-4 offset-sm-3">
        <form action="" method="post">{% csrf_token %}
            <h3>{% trans 'Вы действительно хотите удалить' %} {{ post.title }}?</h3>
            <div class="text-right">
                <input type="submit" value="{% trans 'Delete' %}" class="btn btn-outline-danger">
            </div>
        </form>
    </div>
{% endblock content %}