{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}
{% load i18n %}

{% block head_title %}{{ post.title }}{% endblock head_title %}

{% block content %}

    <div class="col-sm-10 offset-sm-1">
        <!-- Post -->
        <h1 class="markdown">{{ post.title|markdown }}{% if post.draft %}<span style="color: red;"> {% trans 'Draft' %}</span>{% endif %}</h1>
        {% if post.image %}
        <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.image.name }}">
        {% endif %}
        <p class="markdown">{{ post.content|markdown }}</p>
        <h3>{% if post.user.get_full_name %}{{ post.user.get_full_name }}{% else %}
            {{ post.user }}{% endif %}</h3>
        <p><small>{% trans 'Published:' %} {{ post.publish_date }}</small></p>
        <p><small>{% trans 'Last update:' %} {{ post.change_date }}</small></p>

        {% if user == post.user or user.is_staff or user.is_superuser %}
        <a class="btn btn-outline-primary" role="button" href="{% url 'posts:update' pk=post.id %}">{% trans 'Update' %}</a>
        <a class="btn btn-outline-warning" role="button" href="{% url 'posts:delete' pk=post.id %}">{% trans 'Delete' %}</a>
        {% endif %}
        <!-- Comments -->
        <h2>{% trans 'Comments:' %}</h2>
        {% if user.is_authenticated %}

        <form method="post" action=".">{% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" class="btn btn-primary" role="button" value="{% trans 'Reply' %}">
        </form>

        {% else %}
            <h3>{% trans 'You must login to leave a comment.' %}</h3>
        {% endif %}

        {% for comment in post.comments.parents %}
            <blockquote class="blockquote">
                <p class="mb-0">{{ comment.content }}</p>
                <footer class="blockquote-footer">{{ comment.user }}
                    <cite title="Source Title">{{ comment.pub_date }}</cite>
                    {% if user == comment.user or user.is_staff or user.is_superuser %}
                        <a href="{% url 'comments:delete' comment.id %}">
                            Delete
                        </a>
                        <a href="{% url 'comments:update' comment.id %}">
                            Update
                        </a>
                    {% endif %}
                    {% if comment.has_children %}
                        {% blocktrans count counter=comment.children.count %}
                            | 1 Comment
                            {% plural %}
                            {{ counter }} Comments
                        {% endblocktrans %}
                    {% endif %}
                    | <a class='comment-reply-btn' href='#'>{% trans 'Reply' %}</a>
                </footer>

                <!-- Child comments -->
                <div class="comment-reply">
                    {% if comment.has_children %}
                        {% for child in comment.children %}
                            <blockquote class="blockquote blockquote-reverse">
                                <p class="mb-0">{{ child.content }}</p>
                                <footer class="blockquote-footer">{{ child.user }}
                                    <cite title="Source Title">{{ child.pub_date }}</cite>
                                </footer>
                                {% if user == comment.user or user.is_staff or user.is_superuser %}
                                    <a href="{% url 'comments:delete' child.id %}">
                                        <p class="h6">Delete</p>
                                    </a>
                                    <a href="{% url 'comments:update' child.id %}">
                                        <p class="h6">Update</p>
                                    </a>
                                {% endif %}
                            </blockquote>
                        {% endfor %}

                    {% endif %}

                    <!-- Reply to comment -->
                    {% if user.is_authenticated %}
                    <form method="post" action=".">{% csrf_token %}
                        {{ form|crispy }}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <input type="submit" class="btn btn-primary" role="button" value="{% trans 'Reply' %}">
                    </form>
                    {% else %}
                        <h4>{% trans 'You must login to leave a comment.' %}</h4>
                    {% endif %}
                </div>

            </blockquote>
        {% endfor %}
    </div>
{% endblock content %}