{% extends 'base.html' %}
{% block head_title %}{{ post.title }}{% endblock head_title %}
{% block content %}
<div class="row">
    <h1>{{ post.title }}{% if post.draft %}<span style="color: red;"> Draft</span>{% endif %}</h1>
    <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.image.name }}">
    </div>
    <div class="raw">
    <p>{{ post.content }}</p>
    <h3>{% if post.user.get_full_name %}{{ post.user.get_full_name }}{% else %}
        {{ post.user }}{% endif %}</h3>
    <p><small>Published: {{ post.publish_date }}</small></p>
    <p><small>Last update: {{ post.change_date }}</small></p>
</div>
{% endblock content %}